.badge{
  display: inline-block ;
  width: 10px;
  height: 10px;
  border-radius: 30px;

  &--grey{
    background-color: #C9D1D3;
  }
  &--lime{
      background-color: #B6E6BD;
    }
  &--purple{
      background-color: #c781f5;
    }
  &--black{
      background-color: #110133;
    }
  &--red{
      background-color: #FF6464;
    }
  &--green{
    background-color: #42b883;
  }
  &--blue{
    background-color: #64c4ed;
  }
  &--pink{
    background-color: #FFBBCC;
  }
}