.list{

  $self: &;
  margin-bottom: 30px;
  &__add-button{
    opacity: .4;

    &:hover{
      opacity: 1;
    }
  }

  li{
    display: flex;
    align-items: center;
    padding: 10px 12px;
    cursor: pointer;

    &:hover #{$self}__remove-icon {
      opacity: 0.2;
    }

    span{
      flex: 1;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 160px;
      white-space: nowrap;
    }

    &:hover{
      background: rgba(255,255,255,0.6);
    }

    #{$self}__remove-icon{
      opacity: 0;
      &:hover{
        opacity: 0.8;
      }
    }

    &.active{
      background: #FFFFFF;
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.04);
      border-radius: 4px;
    }

    .badge{
      position: relative;
      left: 5px;
    }

    i{
      display: inline-flex;
      margin-right: 8px;
      img{
        opacity: .6;
      }
    }

  }
}