*{
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  font-family: 'Roboto',-apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.todo {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  width: calc(100vw - 40px);
  height: calc(100vh - 100px);
  transform: translate(-50%, -50%);
  box-shadow: 1px 2px 20px #f3f3f3;
  border-radius: 10px;
  border: 1px solid #f1f1f1;
  font-size: 14px;

  &__sidebar {
    background-color: #f4f6f8;
    width: 200px;
    height: calc(100% - 120px);
    border-right: 1px solid #f1f1f1;
    padding: 60px 20px;
  }
  &__tasks{
    flex: 1;
    padding: 60px;
    overflow: auto; 

  }
}



.button{

  background: #4DD599;
  border-radius: 4px;
  color: #fff;
  border: 0;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;


  &:hover{
    background: darken(#4DD599, 7%);
  }
  &:active{
    background: darken(#4DD599, 10%);
  }
  &:disabled{
    background: #d8d8d8;
  }

  &--grey{
    background: #f4f6f8;
    color: #444444;
    &:hover{
      background: darken(#f4f6f8, 3%);
    }
    &:active{
      background: darken(#f4f6f8, 6%);
    }
  }

}

.field{

  background: #FFFFFF;
  border: 1px solid #EFEFEF;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px 12px;
  width: 100%;
  font-size: 12px;
  &:focus{
    border-color: #dbdbdb;
  }

}

